Source: golang-goleveldb
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Martina Ferrari <tina@debian.org>,
Section: devel
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any,
               golang-github-golang-snappy-dev,
               golang-github-onsi-ginkgo-dev,
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-goleveldb
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-goleveldb.git
Homepage: https://github.com/syndtr/goleveldb
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/syndtr/goleveldb

Package: golang-github-syndtr-goleveldb-dev
Architecture: all
Depends: golang-github-golang-snappy-dev,
         golang-github-onsi-ginkgo-dev,
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: golang-goleveldb-dev (<< 0.0~git20170302.0.3c5717c),
Replaces: golang-goleveldb-dev (<< 0.0~git20170302.0.3c5717c),
Description: LevelDB key/value database in Go
 This library provides an implementation of the LevelDB key/value
 database in the Go programming language.
 .
 LevelDB is a fast key-value storage library that provides an ordered
 mapping from string keys to string values.
